<div class="carousel-container" [style.height]="height">
  <div class="carousel-items" #items
    [style.height]="items.children.length && (items.children[0].clientHeight + 'px')"
    [style.width]="items.children.length && (items.children[0].clientWidth * 2 + 'px')"
  >
    <ng-content></ng-content>
  </div>
  <div class="carousel-pickers">
    <div
      class="picker"
      *ngFor="let item of state.items"
      (click)="moveToItem(item.index)"
      [ngClass]="{'active-picker': (state.position | async) === item.index}"></div>
  </div>
</div>