.toggle-container {
    transform: translateY(-16px);
    background: linear-gradient(to bottom, transparent, white);
    display: flex;
    justify-content: center;
}
.toggle {
    width: 16px;
    height: 16px;
    text-align: center;
    transform: translateY(4px);
    cursor: pointer;
}
.toggle.toggle-open {
    color: #94e02b;
}
.pointer {
    cursor: pointer;
}
.padding-connector {
    width: 1.5px;
    background-color: #c4c4c4;
    margin: 0 auto;
}