.table {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.header-cell, .body-cell {
    width: 80px;
    text-overflow: ellipsis;
    padding: 4px 8px;
}
.header-cell {
    font-weight: bold;
}
.table-row {
    display: flex;
    width: 100%;
}
.body-cell {
    display: inline-block;
}