.table {
    display: table;
    flex-direction: column;
    width: 400px;
}
.header-cell, .body-cell {
    display: table-cell;
    padding: 4px 8px;
}
.header-cell {
    font-weight: bold;
}
.table-row {
    display: table-row;
    width: 100%;
}
.body-cell {
    display: inline-block;
}