<input #selector >
<button (click)="selected = selector.value">Select</button>
<agm-map
  [@mapSize]="large"
  [latitude]="coords.lat"
  [longitude]="coords.lon">
  <agm-marker *ngFor="let m of markers; let i = index;"
    [latitude]="m.lat"
    [longitude]="m.lon"
    [iconUrl]="getMarker(m)"
    (markerClick)="selected = m.id">
  </agm-marker>
</agm-map>
<button (click)="large = !large">Expand Map</button>

<!-- <a-table
  [data]="employees"
  [dataMap]=""
>
   <ng-container cellCol>
    <ng-template headerCell let-data> {{data}} </ng-template>
    <ng-template bodyCell let-data> {{data}} </ng-template>
  </ng-container>
</a-table> -->
<!-- Gotta use bootstrap row/col tables to get border radiue on columns
     or apply background to cells instead of rows and add border radius to cells-->
<div class="table">
  <div class="tr">
    <div class="td">Id</div>
    <div class="td scale-top shadow-left border-tl-round shadow-top">Name</div>
    <div class="td scale-top shadow-right border-tr-round shadow-top">Location</div>
    <div class="td">Color</div>
  </div>
  <div class="tr" *ngFor="let e of employees; let l = last;" (click)="selected = e.id" [ngClass]="{selected: e.id == selected}">
    <div class="td">{{e.id}}</div>
    <div class="td shadow-left border-bl-round" [ngClass]="{'shadow-bottom': l, 'scale-top': l}">{{e.name}}</div>
    <div class="td shadow-right border-br-round" [ngClass]="{'shadow-bottom': l, 'scale-top': l}">{{e.city}}</div>
    <div class="td" [style.color]="e.color">{{e.color}}</div>
  </div>
</div>