:host {
    display: block;
    border-radius: 16px;
    min-width: 120px;
    max-width: 160px;
}
.date-pill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 8px 16px;
}
.triangle-down {
    position: relative;
    top: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid white;
}