<div class="top-connector"
  *ngIf="!isRoot"
></div>
<div class="node-content">
  <person-node *ngIf="tree.Type === 'Person'" [tree]="tree"></person-node>
  <blank-node *ngIf="tree.Type === 'Blank'" [tree]="tree"></blank-node>
  <person-node *ngIf="tree.Type === 'Site'" [tree]="tree"></person-node>
  <person-node *ngIf="tree.Type === 'Building'" [tree]="tree"></person-node>
</div>
<div class="bottom-connector"
   *ngIf="children.children.length > 0"
></div>
<div class="wide-connector" #wideConnector
  *ngIf="children.children.length > 0"
  [ngStyle]="getWideLinePosition(children)"
></div>
<div class="children" #children>
  <ng-container *ngIf="!(tree | shouldCollapse)">
    <flex-graph
      *ngFor="let child of tree.Children"
      [tree]="child"
      [isRoot]="false"></flex-graph>
  </ng-container>

  <ng-container *ngIf="tree | shouldCollapse">
    <collapsed-graph
     [childCollection]="tree.Children">
    </collapsed-graph>
  </ng-container>
</div>