<div class="top-connector"
  *ngIf="!isRoot"
></div>
<div class="node-content"
  node-renderer [tree]="tree">
</div>
<div class="bottom-connector"
   *ngIf="children.children[0].children.length > 0"
></div>
<div class="wide-connector" #wideConnector
  *ngIf="children.children[0].children.length > 0"
  [ngStyle]="getWideLinePosition(children.children[0])"
></div>
<div class="children-wrapper" #children>
  <div class="children" collapsed-graph
     [renderCollapsed]="tree | shouldCollapse"
     [childCollection]="tree.Children">
    <flex-graph
      *ngFor="let child of tree.Children"
      [tree]="child"
      [isRoot]="false"></flex-graph>
  </div>
</div>