<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <main-form></main-form>
</div>
-->

<!-- <div style="text-align:center">
  <paragraphs [paragraphs]="paragraphs">
    <ng-template let-para let-odd="odd">
      <!-- Need to share ng-template for para variable, can't do two separate for some reason --
      <reverse [para]="para"></reverse>
      <p>{{para.body}}</p>
      <p>{{para.footer}}</p>
      <div *ngIf="odd">This hsiz is odd@</div>
    </ng-template>
  </paragraphs>
</div> -->

<!-- <refff></refff> -->
<!-- <web-sockets></web-sockets> -->
<!-- <nested-form></nested-form>
<bodyc>
  <ng-template title><h1>what a title</h1><p>and friend</p></ng-template>
  <ng-template list><p>one</p><h1>wowow</h1></ng-template>
  <ng-template list><p>two</p></ng-template>
  <ng-template list><p>three</p></ng-template>
</bodyc> -->

<!-- <obs multiplier="1"></obs>
<obs multiplier="2"></obs>
<obs multiplier="4"></obs>
<other></other>

<hr><hr>

<obs-form></obs-form>
<form-watcher [filter]="filter1"></form-watcher>
<form-watcher [filter]="filter2"></form-watcher>
<form-watcher [filter]="filter3"></form-watcher> -->

<!-- <async></async>
<late-async></late-async> -->

<!-- <a-table
  [data]="data"
>
  <ng-container cellCol="key1">
    <table-header-cell *headerCell>Age</table-header-cell>
    <table-cell *cellBody="let data">{{data}}</table-cell>
  </ng-container>
  <ng-container cellCol="key3">
    <table-header-cell *headerCell>Favorite color</table-header-cell>
    <table-cell *cellBody="let data">{{data}}</table-cell>
  </ng-container>
  <ng-container cellCol="key2">
    <table-header-cell *headerCell>Company</table-header-cell>
    <table-cell *cellBody="let data">{{data}}</table-cell>
  </ng-container>
  <ng-container cellCol="key4">
    <table-header-cell *headerCell>Phone Number</table-header-cell>
    <table-cell *cellBody="let data">{{data}}</table-cell>
  </ng-container>
  <ng-container cellCol="key5">
    <table-header-cell *headerCell>Favorite Fruit</table-header-cell>
    <table-cell *cellBody="let data">{{data}}</table-cell>
  </ng-container>
</a-table> -->

<!-- <to-dos></to-dos> #} -->

<!-- <dynamic-table [data]="tableData">
</dynamic-table> -->

<!-- <app-canvas-map></app-canvas-map> -->
<!-- <app-map></app-map>
<app-map class="thing"></app-map> -->

<!-- <obs></obs> -->

<side-scroller>
    <h1>Testing the scollerThisone is really long!</h1>
    <h3>Another thing here!</h3>
    <h1>Testing the scoller</h1>
    <h3>Another!</h3>
    <h1>Testing the scollea jkasdhf alsjkdf sajkf asdr</h1>
    <h3>Another thing here!</h3>

    <h1>Testing the scof asdf safsdller</h1>
    <h3>Another thing hefasdfasdf asdfsdafsadfsdafsdaf sdre!</h3>

    <h1>Testing the scoller</h1>
    <h3>Another thing here!</h3>

    <h1>Testing the fasdfsa</h1>
    <h3>Another thing hfasdfsafdsadere!</h3>

    <h1>Testing the scoller</h1>
    <h3>Another thing here!</h3>

    <h1>Testing the scoller</h1>
    <h3>Another thing here!</h3>
</side-scroller>

<date-pill-picker
  [time]="3"
  color="#246321"
></date-pill-picker>

{{(time | async) | date:'h:mm:ss'}}
<hr>
<graph-node [tree]="treeData">

</graph-node>