// :host /deep/ app-map.thing {
//     .table {
//         background: purple;
//     }
// }
:host::ng-deep app-map.thing {
    .table {
        background: palegreen;
    }
}
.flex {
    display: flex;
}
h1, h3 {
    white-space: nowrap;
}