<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <main-form></main-form>
</div>
-->

<!-- <div style="text-align:center">
  <paragraphs [paragraphs]="paragraphs">
    <ng-template let-para let-odd="odd">
      <!-- Need to share ng-template for para variable, can't do two separate for some reason --
      <reverse [para]="para"></reverse>
      <p>{{para.body}}</p>
      <p>{{para.footer}}</p>
      <div *ngIf="odd">This hsiz is odd@</div>
    </ng-template>
  </paragraphs>
</div> -->

<!-- <refff></refff> -->
<!-- <web-sockets></web-sockets> -->
<!-- <nested-form></nested-form>
<bodyc>
  <ng-template title><h1>what a title</h1><p>and friend</p></ng-template>
  <ng-template list><p>one</p><h1>wowow</h1></ng-template>
  <ng-template list><p>two</p></ng-template>
  <ng-template list><p>three</p></ng-template>
</bodyc> -->

<!-- <obs multiplier="1"></obs>
<obs multiplier="2"></obs>
<obs multiplier="4"></obs>
<other></other>

<hr><hr>

<obs-form></obs-form>
<form-watcher [filter]="filter1"></form-watcher>
<form-watcher [filter]="filter2"></form-watcher>
<form-watcher [filter]="filter3"></form-watcher> -->

<!-- <async></async>
<late-async></late-async> -->

<!-- <a-table
  [data]="data"
  [dataMap]="map"
>
  <ng-container cellCol="key1">
    <ng-template headerCell><b>Head 1</b></ng-template>
    <ng-template cellBody let-data><div>{{data}} Wub a dub dub</div></ng-template>
  </ng-container>
  <ng-container cellCol="key3">
    <ng-template headerCell><b>Cid</b></ng-template>
    <ng-template cellBody let-data><div>{{data}} two 3</div></ng-template>
  </ng-container>
  <ng-container cellCol="key2">
    <ng-template headerCell><b>y so  angular</b></ng-template>
  </ng-container>
</a-table> -->

<!-- <to-dos></to-dos> #} -->

<!-- <dynamic-table [data]="tableData">
</dynamic-table> -->

<app-canvas-map></app-canvas-map>