<div class="content-wrapper">
  <div class="modal-header">
    <h5 class="margin-bottom-15"> Select a Date Range</h5>
    <p> Changing the date range will display all statistics during that period.</p>
  </div>
  <div class="modal-body">
    <div class="item-container">
      <div class="month-range">
        <div class="label">
          From
        </div>
        <month-picker
          [refDate]="dateRange.startDate"
          [alignTime]="'start'"
          (date)="updateRange('startDate', $event)"></month-picker>
      </div>
      <div class="month-range">
        <div class="label">
          To
        </div>
        <month-picker
          [refDate]="dateRange.endDate"
          [alignTime]="'end'"
          (date)="updateRange('endDate', $event)"></month-picker>
      </div>
    </div>
    <div class="quick-selects">
      <div class="label">
        Quick Select
      </div>
      <div class="item-container">
        <!-- <div [ngClass]="{selected: selectedRange === 1}" (click)="setTime(1)" class="pill-item">1 Month</div> -->
        <div [ngClass]="{selected: selectedRange === 3}" (click)="setTime(3)" class="pill-item">3 Month</div>
        <div [ngClass]="{selected: selectedRange === 6}" (click)="setTime(6)" class="pill-item">6 Month</div>
        <div [ngClass]="{selected: selectedRange === 12}" (click)="setTime(12)" class="pill-item">1 Year</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="flex-right">
      <input type="button" value="CANCEL" class="btn btn-secondary" (click)="cancel()" />
      <input type="button" value="SUBMIT" class="btn btn-warning" (click)="submit()" [disabled]="!dateRange.startDate || !dateRange.endDate" />
    </div>
  </div>
</div>