<div class="top-connector"
  *ngIf="!isRoot && shouldRenderTopLine(graph)"
></div>
<div [class]="'node-content'"
  node-renderer
  [tree]="graph"
  [depth]="depth"
  (click)="toggleCollapse.emit(true)">
</div>
<div class="toggle-container"
  *ngIf="shouldRenderCollapsed(parentState.graph) && !parentState.isCollapsed">
  <div class="toggle toggle-close">
    <i class="zmdi zmdi-minus-circle"></i>
  </div>
</div>
<div class="bottom-connector"
   *ngIf="shouldRenderBottomLine(graph, children)"
></div>
<div class="wide-connector" #wideConnector
  *ngIf="children.children[0].children.length > 0"
  [ngStyle]="getWideLinePosition(children.children[0])"
></div>
<div class="children-wrapper" #children>
  <div class="children">
    <app-grouped-graph
      *ngIf="shouldRenderCollapsed(graph) && state.isCollapsed"
      (toggleCollapse)="updateCollapseStatus($event)"
      [childCollection]="graph.Children"
      [firstRendered]="true"
    ></app-grouped-graph>
    <ng-container *ngIf="!shouldRenderCollapsed(graph) || !state.isCollapsed">
      <app-single-graph
        *ngFor="let child of graph.Children"
        (toggleCollapse)="updateCollapseStatus($event)"
        [graph]="child"
        [isRoot]="false"
        [parentState]="{ graph: graph, isCollapsed: state.isCollapsed }"
        [ngClass]="{'is-adjusted': child.IsAdjusted && child.Children.length === 0}"></app-single-graph>
    </ng-container>
  </div>
</div>
