<!-- Render regular graph component -->
<ng-content *ngIf="!renderCollapsed"></ng-content>

<!-- Render collapsed graph component -->
<ng-container *ngIf="renderCollapsed">
  <!-- Collapsed state, renders nodes based on collapsedChildren array -->
  <div class="wrapper" *ngIf="state.isCollapsed">
    <div class="top-connector"></div>
     <!-- children.children[0].children.length > 0 && childCollection.length > 2
          Means something is rendered in the #children div below
          and those things have more than 1 child
          Basically, only allow collapsing when there is something there and there is more than 1 of it -->
    <div class="node-content"
      (click)="toggleCollapse(children.children[0].children.length > 0  && childCollection.length > 1)"
      [ngClass]="{pointer: children.children[0].children.length > 0  && childCollection.length > 1}">
      <!-- Only the leaf nodes with employee sets need clickability, might be a layer restriction too -->
      <multiple-element-node
        (click)="getEmployeeData(childCollection, children.children[0].children.length === 0)"
        [class]="childCollection | selectedClass:state.store"
        [size]="childCollection.length > 5 ? 1 : 1.25"
        [title]="state.title"
        [subtitle]="state.subtitle"
        [trees]="childCollection">
      </multiple-element-node>
      <div class="toggle-container" *ngIf="children.children[0].children.length > 0 && childCollection.length > 1">
        <div class="toggle toggle-open">
          <i class="zmdi zmdi-plus-circle"></i>
        </div>
      </div>
    </div>
    <div class="bottom-connector"
      *ngIf="children.children[0].children.length > 0">
    </div>

    <div class="wide-connector" #wideConnector
      *ngIf="children.children[0].children.length > 0"
      [ngStyle]="getWideLinePosition(children.children[0])">
    </div>
    
    <div class="children-wrapper" #children>
      <div class="children" collapsed-graph
        [renderCollapsed]="state.collapsedChildren.length > 0"
        [childCollection]="state.collapsedChildren"
        [depth]="depth + 1">
      </div>
    </div>
  </div>
  <!-- Uncollapsed state, renders each child node individually -->
  <ng-container *ngIf="!state.isCollapsed">
    <div class="wrapper" *ngFor="let tree of childCollection">
      <div class="top-connector"></div>
      <div class="node-content pointer"
        (click)="toggleCollapse(true)">
        <node-renderer
          [class]="tree | selectedClass:state.store"
          [size]="childCollection.length > 5 ? 1 : 1.25"
          [tree]="tree"></node-renderer>
        <div class="toggle-container">
          <div class="toggle toggle-close">
            <i class="zmdi zmdi-minus-circle"></i>
          </div>
        </div>
      </div>
  
      <div class="bottom-connector"
        *ngIf="children.children[0].children.length > 0 && tree.Type !== 'District'">
      </div>
  
      <div class="wide-connector" #wideConnector
        *ngIf="children.children[0].children.length > 0"
        [ngStyle]="getWideLinePosition(children.children[0])">
      </div>
      
      <div class="children-wrapper" #children>
        <div class="children" collapsed-graph
          [renderCollapsed]="tree.Children.length > 0"
          [childCollection]="tree.Children"
          [depth]="depth + 1">
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
